@import url("https://rsms.me/inter/inter.css");

html,
body {
  margin: 0;
  padding: 0;
  background: #272730;
  overflow: hidden;
}

body {
  font-family: "Inter var", sans-serif;
  font-size: 14px;
  color: white;
  background: #f0f0f0;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

canvas {
  position: absolute;
}

 /* Styling for satellite text boxes */
.satellite-info-box {
  display : flex;
  flex-direction: column;
  padding-top: 10px;
  transform: translate3d(calc(50% + 40px), 0, 0);
  text-align: left;
  background: #f2f2f2;
  color: #202035;
  padding: 10px 15px;
  border-radius: 5px;
  width: fit-content; 
  min-width: max-content;
}
.satellite-info-list {
  display : flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}
.info_list_item {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  white-space: nowrap

}




 /* CSS for add satellite box for top row */
.add-content-container {
  padding-top: 10px;
  text-align: left;
  background: #f2f2f2;
  color: #202035;
  padding: 10px 15px;
  border-radius: 5px;
}

.satellite-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.top-row {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}

.input {
  flex: 1; /* takes remaining space */
  background: #f2f2f2;
  color: #4a4a6a;
  padding: 8px;
  border: 2px solid #4a4a6a;
  border-radius: 5px;
  font-size: 14px;
}

.list-item {
  display: flex; /* flexbox for list items */
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}

.list-content {
  flex: 1; /* takes remaining space to match input */
  background: #f2f2f2;
  color: #202035;
  padding: 10px;
  border-radius: 5px;
}

.button {
  background: #f2f2f2;
  border: 2px solid #4a4a6a;
  color: #4a4a6a;
  padding: 10px 15px;
  text-align: center;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  white-space: nowrap; /* prevent button text wrapping */
}

.remove-button {
  background: #f2f2f2;
  border: 2px solid #4a4a6a;
  color: #4a4a6a;
  padding: 10px 15px;
  text-align: center;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  width: 80px; /* fixed width to align with buttons above */
}
